.com-container-three {
    padding-top: 150px;
}

.community-card {
    margin-bottom: 20px;
}

.create-question-button {
    background-color: transparent;
}

.rules-div {
    padding-bottom: 200px;
}

.ul-prohibit {
    text-align: left;
    list-style-type: disc;
}

.welcome-com-text {
    font-size: 12px;
}

.rules-div-border {
    border-left: 1px inset white;
    padding-left: 10px;
}



.welcome-prohibit-text {
    font-size: 14px;
}

.recent-posts {
    padding-top: 100px;
}
