body {
    background: $background;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerfont;
}

p {
    font-family: $paragraph;
}

a {
    color: white;
}
a:hover, .nav-link
{
    color: $maincolor;
}

.title {
    color: $text;
}

footer {
    background-color: transparent;
    color: white;
    text-align: right;
    bottom: 0;
    padding: 20px;
    font-size: 12px;
    font-family: $family-sans-serif;
}