body {
    background: $background;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerfont;
}

p {
    font-family: $paragraph;
}
