.loginform {
    position: relative;
    z-index: 2;
    color: black;
    padding: 160px;
    width: 508px;
    top: 100px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.295);
    position: absolute;
    z-index: 1;
    color: black;
    top: 120px;
    padding: 249px;
    width: 508px;
}

.input {
    border: 1px inset white;
    padding: 20px;
    margin: 10px;

}

.create-text {
    color: black;
}

.login-signup-button {
    background-color: transparent;
    color: white;
}

.signup-buttons {
    margin-left: 30px;
    margin-top: 20px;
}

// left Side
.login-left {
    padding-top: 290px;
    z-index: 1;
    position: relative;
}

.title.is-4.already {
    color: $text;
}

// .title.is-1.welcomeback {
//     padding-bottom: 60px;
//     font-size: 8em;
//     border-bottom: 1px inset rgba(255, 255, 255, 0.295);
//     font-family: faith;
// }