.navbar-header {
    font-family: faith;
    font-size: 40px;
}

.navbar {
    background-color: transparent;
}

.navbar-item {
    color: $text;
}

.main-img {
    width: 50%;
    height: 100%;
    justify-content: row;
    display: block;
}

.about-bttn {
    background-color: $info;
    color: $text;
    border: none;
}


.column-main {
    display: flex;
    padding: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.greeting {
    font-size: 6em;
    font-family: faith, 'sans-serif';
    color: white;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    text-shadow: 4px 3px 0px #7A7A7A;


}

.greeting2 {
    padding-top: 200px;
    font-size: 3em;

}

#about {
    padding: 300px;
}



@media all and (max-width: 480px) {
    .greeting {
        display: none;
    }

    #about,
    .explore-div {
        padding: 50px;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {

    #about,
    .explore-div {
        padding: 90px;
        margin-bottom: 20px;
    }

}

.what-is-div {
    background-color: $texttwo;
    border-left: 1px outset $maincolor;
    color: $text;
}

.what-is-div2 {
    background-color: $texttwo;
    border-right: 1px outset $maincolor;
    color: $text;
}

.explore-div {
    padding: 180px 0;

}

.explore-div2 {
    padding: 50px 0;
}

.what-is-title {
    color: white;
    font-size: 5em;
}

.bottom-links-img,
.bottom-links-img2 {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.bottom-links-img:hover,
.bottom-links-img2:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}



.articles-link,
.community-link {
    font-size: 4em;
    font-family: 'Roboto';
    position: relative;
    bottom: 250px;
    padding-bottom: 2px;
    color: $white;
    background: none;
}


.bottom-div {
    text-align: center;
    padding: 0;
}

u {
    text-decoration: none;
    border-bottom: 1px solid white;
}

.explore-title {
    padding-bottom: 50px;
    font-family: 'Montserrat';
}

// Slide Down Styles
// #about,
// #slide-container2,
// #slide-container3,
// #slide-container4 {
//     display: none;
// }
// JS File Bug(Fixing later)

.arrow {
    padding-top: 40px;
    font-size: 20px;
}