.postpage-div {
    padding-top: 150px;
    padding-bottom: 150px;

}

.title.communitypost {
    font-family: $family-sans-serif;
}

.post-content-page,
.post-content-title-page {
    color: $text;
}

.post-content-title-page {
    font-size: 2em;

}

.postpage-box {
    background-color: $maincolor;
    border: 1px solid white;
    word-break: break-all;
    margin-bottom: -12px;
}

.replypage-box {
    background-color: $maincolor;
    word-break: break-all;
    border: 1px solid white;
}

.subcomment {
    word-break: break-all;
    font-size: 16px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    background-color: $maincolor;
    margin-top: -24px;
    margin-bottom: -24px;
}