#reply-form {
    width: 50vw;
    text-align: center;
    margin: auto; 
    padding: 50px;
    -webkit-box-shadow:0px 0px 50px 30px #8c8cd0 ;
    -moz-box-shadow:0px 0px 50px 30px #8c8cd0 ;
    box-shadow:0px 0px 50px 30px #8c8cd0 ;
    color: black;
}