.signupform {
    position: relative;
    z-index: 1;
    color: black;
    top: 109px;
    left: 0px;
    padding: 66px;
}

.signup-glass {
    background-color: rgba(255, 255, 255, 0.295);
    position: absolute;
    z-index: 1;
    color: black;
    top: 120px;
    padding: 244px;
    padding-bottom: 255px;

}

.box-signup {
    height: 500px;
    width: 1000px;
    position: absolute;
    top: 120px;
    background-color: $maincolor;
    z-index: 0;
    
}

.input {
    border: 1px inset white;
    padding: 20px;
    margin: 10px;
    
}

.create-text {
    color: black;
}

.login-signup-button {
    background-color: transparent;
    color: white;
}

.signup-buttons {
    margin-left: 30px;
    margin-top: 20px;
}

// Right Side
.signup-right {
    padding-top: 300px;
    z-index: 1;
    position: relative;
    }

.title.is-4.already {
    color: $text;
}

// .title.is-1.welcome {
//     padding-bottom: 50px;
//     padding-top: 20px;
//     font-size: 5em;
//     border-bottom: 1px inset rgba(255, 255, 255, 0.295);
//     font-family: 'Montserrat';
//     text-align: center;
// }

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

