@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto|Montserrat');


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #8CA2AF;
$link: #8CA2AF;
$widescreen-enabled: false;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #241F2B;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$primary: #899ACE;
$info: #777B95;
$success: #6aae6f;
$warning: #e79d37;
$danger: #f44336;

// Color Palette For Site
$text: #F1F2EF;
$texttwo: #2A2A41;
$maincolor: #899ACE;
$accent:#777B95;
$secondaccent: #75747B;
$background: #2A2A41;
$box-color: rgba(255, 255, 255, 0.295);

$paragraph: 'Lato-300',sans-serif;
$headerfont: 'Roboto',sans-serif;

@font-face{
    font-family: faith;
    src: url(/static/Playlist-Script.otf);
    }

$box-background-color: $secondaccent;
$box-color: $text;


.post-title {
    font-size: 2em;
}



// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";

@import "./sass/global.scss";
@import "./sass/landing.scss";
@import "./sass/signup.scss";
@import "./sass/login.scss";
@import "./sass/main.scss";
@import "./sass/articles.scss";
