@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto');


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary:  #8CA2AF;
$link: #8CA2AF;
$widescreen-enabled: false;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #3A3B44;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Color Palette For Site
$primary: #b0aab8;
$info: #3b3d47;
$success: #6aae6f;
$warning: #e79d37;
$danger: #f44336;

$text: #F1F2EF;
$accent:#81848C;
$maincolor: #8CA2AF;
$secondaccent: #747985;
$background: #3A3B44;
$paragraph: 'Lato-300', sans-serif;
$headerfont: 'Roboto', sans-serif;

$navred : red;
$box-background-color: $secondaccent;
$box-color: $text;

.post-title {
    font-size: 2em;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";

@import "../sass/_global.scss";
@import "../sass/_landing.scss";
@import "../sass/_main.scss";