{% extends "layout.html" %}

{% block content %}

  <div class="container-fluid com-container">
      <div class="columns">
        <div class="column column-main">
          <img class="main-img animated fadeIn" src="{{ url_for('static', filename='com3.jpg') }}">
          <img class="main-img animated fadeIn" src="{{ url_for('static', filename='com1.jpg') }}">
        
          <div class="centered has-text-centered">
              <h1 class=" greeting has-text-centered animated fadeIn">
                Community
              </h1>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid com-container-two">
        <div class="columns">
          <div class="column column-main">
            <img class="main-img animated fadeIn" src="{{ url_for('static', filename='community-main.jpeg') }}">
            <img class="main-img animated fadeIn" src="{{ url_for('static', filename='com2.jpg') }}">
          </div>
        </div>
      </div>
<div class="container com-container-three">
  <div class="columns">
    <div class="column is-two-fifths">
      <h1 class="title is-3 has-text-centered">Recent Posts</h1>
      {% for post in posts %}
      {% include 'apost.html' %}
      {% endfor %}
    </div>
    <div class="column is-three-fifths has-text-centered">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert has-text-centered alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <p>Have anything on your mind? <br>Find others who may have similar issues and give or receive advice . Share
        experiences with your community and remember - always be positive! - Faith Team</p>
      <button class="button is-medium create-question-button"><a href={{url_for('add_post' )}}>Create question</a></button>
    </div>
  </div>
</div>


{% endblock %}