{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import render_field %}

{% block content %}
<div class="has-text-centered">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
    {% for field in form if field.widget.input_type != 'hidden' %}
      {{ render_field(field) }}
    {% endfor %}
  </p>

    <button type="submit" class="button is-primary">Log In</button><a href="{{ url_for('index') }}" class="button is-light">Cancel</a>
  </form>
</div>
{% endblock %}