{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
  <div class="columns">
    <div class="column column-main">
      <img class="main-img" src="{{ url_for('static', filename='fam1.jpeg') }}">
      <div class="centered has-text-centered">
        <h1 class=" greeting has-text-centered">
          Welcome to Faith
        </h1>
        <a href="#about">
          <p class="about-arrow">&#x2193;</p>
        </a>
        </a>
      </div>
      <img class="main-img" src="{{ url_for('static', filename='happy2.jpeg') }}">
    </div>
  </div>
</div>
<div class="container-fluid second-row">
  <div class="columns">
    <div class="column column-main">
      <img class="main-img" src="{{ url_for('static', filename='fam2.jpeg') }}">
      <img class="main-img" src="{{ url_for('static', filename='fam3.jpeg') }}">
    </div>
  </div>
</div>





<div class="container-fluid " id="about">
  <div class="columns what-is-div">
    <div class="column">
      <h1 class="what-is-title">What is Faith?</h1>
      <p> According to nami.org, approximately 1 in 5 adults in the U.S. —43.8 million, or 18.5%— experience mental
        illness in a given year. Faith was created in order to raise awareness on mental health. Faith allows users to
        vent, support and spread information based on mental health, illness or any troubles that you be going through.
        Browse articles that are updated daily - or join the community and help others. We value individuals information
        so all comments will remain anonymous. Faith is a safe place to express yourself and together we can help each
        other one by one. We ask that you remain active and continue sharing with the community. Please show respect
        when replying to others. We thank you for using Faith. </p>
    </div>
  </div>
</div>


<div class="container-fluid mental-img-div">
  <div class="columns ">
    <div class="column is-half bottom-div">

      <img src="{{ url_for('static', filename='mental1.png') }}">

      </a>
    </div>
    <div class="column is-half bottom-div">
      <img src="{{ url_for('static', filename='mental2.png') }}">
    </div>
  </div>
</div>
</div>

<div class="container explore-div">
  <div class="columns">
    <div class="column has-text-centered">
      <h1 class="title is-1 explore-title">Explore</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="columns">
    <div class="column is-half bottom-div">
      <a href="{{ url_for ('articles') }}">
        <img class="bottom-links-img" src="{{ url_for('static', filename='articles-main.jpeg') }}">
      </a>
      <h1 class="articles-link has-text-centered"><u>ARTICLES</u></h1>
    </div>
    <div class="column is-half bottom-div">
      <a href="{{ url_for('posts') }}">
        <img class="bottom-links-img" src="{{ url_for('static', filename='fam4.jpeg') }}">
      </a>
      <h1 class="community-link has-text-centered"><u>COMMUNITY</u></h1>
    </div>
  </div>
</div>

{% endblock %}