{% extends "layout.html" %}

{% block content %}
<div class="postpage-div"></div>
<div class="container">
  <div class="columns">
    <div class="column is-two-thirds ">
      <div class="box postpage-box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <a class=" post-content-title-page" href={{url_for('thispost', postid=post.id)}}>{{ post.title }}</a>
              <p class="post-content-page">
                By: {{ post.user.username}}
                <br>
                {{ post.content }}
                <br>
                Category: {{ post.category }} | {{ post.timestamp.strftime('%m-%d-%Y')}}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
    <div class="column is-one-third has-text-right">
      {% if current_user.id != post.user.id %}
      <a href="{{ url_for('reply_post', postid=post.id)}}" class="button is-light is-medium">Reply</a>
      {% endif %}

      {% if current_user.id == post.user.id %}
      <div>
        <a href="{{ url_for('edit_post', postid=post.id)}}" class="button is-info is-small">Edit my question</a>
        <a href="{{ url_for('delete_post', postid=post.id) }}" class="button is-danger is-small">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column is-three-fifths is-offset-1 ">
      {% for reply in replies %}
      <div class="box postpage-box">
        <article class="media">
          <div class=" post-content-title-page">
              <h1 class="title is-6 has-text-left">Post</h1><br>
              {{ reply.content }}
          </div>
          <div class="media-content">
            <div class="content post-content-page">
              
              <p>
                {{ reply.timestamp.strftime('%m-%d-%Y')}}<br>
                {{ reply.user.username}}
              </p>
              <a href="{{ url_for('create_reply_to_reply', postid=post.id, replyid=reply.id)}}"
              class="button is-light is-small">Reply to this Post</a>

            {% if current_user.id == reply.user.id %}
            <a href="{{ url_for('edit_reply_post', postid=post.id, replyid=reply.id)}}"
              class="button is-light is-small">Edit my comment</a>
            <a href="{{ url_for('delete_reply_post', postid=post.id, replyid=reply.id) }}"
              class="button is-danger is-small">Delete my comment</a>
              {% endif %}
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>

      <div class="is-one-third is-offset-5">
        <h1 class="title is-6 has-text-centered">Comment Thread</h1><br>

        {% for subcomment in reply.comments %}
        <div class="subcomment has-text-left">
        {{ subcomment.content }}
        <span class="has-text-right">
        {% if current_user.id == subcomment.user.id %}
        <a href="{{ url_for('edit_reply_to_reply', postid=post.id, replyid=reply.id, subcommentid=subcomment.id)}}"
          class="button is-light is-small">Edit my comment</a>
        <a href="{{ url_for('delete_reply_to_reply', postid=post.id, replyid=reply.id, subcommentid=subcomment.id) }}"
          class="button is-danger is-small">Delete my comment</a><br>
        </span>
        {% endif %}
        <div class="has-text-right">
        - {{subcomment.user.username}}
        {{ subcomment.timestamp.strftime('%m-%d-%Y')}}<br>
      </div>
       
      </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock %}
