{% extends 'layout.html' %}

{% block content %}
<section class="hero is-small">
		<img class="#"" src="{{ url_for('static', filename='cloud.jpeg') }}">
		<div>
		<h1 class="profile-username-header has-text-centered">Hello, {{user.name}}!</h1></div>
	  </section>
<div class="container profile-div">
	<div class="columns">
		<div class="column is-half">
				<div class="card profile-card">
						<header class="card-header">
						  <p class="card-header-title">
								Welcome to your profile!
						  </p>
						  <a href="#" class="card-header-icon" aria-label="more options">
							<span class="icon">
							  <i class="fas fa-angle-down" aria-hidden="true"></i>
							</span>
						  </a>
						</header>
						<div class="card-content">
						  <div class="content">
								Email: {{ user.email }}
								<br>
							<a href="#">Username @{{ user.username }}</a>				
						  </div>
						</div>
						<footer class="card-footer">
						  <a href="{{ url_for('edit_profile', username=current_user.username) }}" class="card-footer-item">Edit</a>
						</footer>
					  </div>

			{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
			{% for category, message in messages %}
			<div class={{category}}>{{ message }}</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
		
		</div>
		<div class="column is-half">
				<h1 class="title is-2 has-text-centered">Questions</h1>
			{% for post in posts %}
			{% include 'apost.html' %}
			{% endfor %}
		</div>
	</div>
</div>




{% endblock %}