{% extends "layout.html" %}

{% block content %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import render_field %}

<div class="form-div has-text-centered">
    <h1 class="title is-1 has-text-centered">Send a reply!</h1>
  <form id="reply-form" method="POST">
    {{ form.hidden_tag() }}
    <p>
      {% for field in form if field.widget.input_type != 'hidden' %}
      {{ render_field(field) }}
      {% endfor %}
    </p>

    <button type="submit" class="button is-primary">Create</button><a href="{{ url_for('thispost', postid=postid) }}"
      class="button is-light">Cancel</a>
  </form>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert has-text-centered alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

{% endblock %}